<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <li><a href="{{url_for('create_route')}}">Create Route</a></li>
    <li><a href="{{url_for('create_shift')}}">Create Shift</a></li>
    <li><a href="{{url_for('shift_list')}}">Shift list</a></li>
    <li><a href="{{url_for('routes_list')}}">Routes list</a></li>
    <li><a href="{{url_for('logout')}}">Logout</a></li>
</head>
<body>
    
</body>
</html>